@import "../../../globalStyles/variables.scss";

.errorContainer {    
    min-height: 30px;
    top: -1px;
    left: 0;
    right: 0;
    background-color: $errorBackground;
    border-bottom: 1px solid $errorBorder;
    border-top: 1px solid $errorBorder;
    position: absolute;
    padding: 10px 15px;
    color: $errorText;

    .errorHeaderContainer {
        display: flex;
        justify-content:  space-between;

        .errorHeader {
            font-size: smaller;
            font-style: italic;
        }

        .errorCloseButton {
        }
    }

    .errorText {
        // font-weight: bold;
    }    
}

.errorContainer a, .error-container a:visited {
    color:$errorText;
}

.errorContainer a:hover {
    color: $errorLink;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.261);
}

