@import '../../../globalStyles/variables.scss';

.mainNavigation {
    ul {
        list-style-type: none; /* Removes bullets */
        padding: 0;            /* Removes default padding */
        margin: 0;             /* Removes default margin */
        display: flex;         /* Makes the list items align horizontally */
        flex-direction: row-reverse;
    }

    /* Style the list items */
    ul > li {
        float: left;
        position: relative;
        
    }

    /* Style the links inside the list items */
    ul > li > a {
        display: block;
        color: $navLink;
        text-align: center;
        padding: 4px 16px;
        text-decoration: none;
    }

    /* Change link color on hover */
    ul > li > a:hover {
        background-color: whiten($navLink, .75);
    }

    /* Style the nested list (dropdown) */
    ul > li > ul {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        min-width: 180px;
        z-index: 1;
        background-color: whiten($navLink, .95);
        box-shadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
        padding: 0;
    }

    /* Style the list items inside the nested list */
    ul > li > ul > li {
        float: none;
        width: 100%;
    }

    /* Style the links inside the nested list items */
    ul > li > ul > li > a {
        padding: 4px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        
    }

    /* Change dropdown link color on hover */
    ul > li > ul > li > a:hover {
        background-color: whiten($navLink, .75);
    }

    /* Show the dropdown when hovering over the parent list item */
    ul > li:hover > ul {
        display: block;
    }

}
