@import '../../../globalStyles/variables.scss';

$navItemHeight: 32px;
$ulBackground: whiten($navLink, .95);
$subUlBackground: $ulBackground;
$subUlBoxShadow: 0px 4px 12px 0px rgba(0,0,0,0.1);
$linkPadding: 4px 16px;

.topNavigationWrapper {
}

.topNavigation {
    float: right;
    
    /* All links all levels */
    a:hover {
        background-color: whiten($navLink, .75);
    }

    ul {
        /* Applies to all <ul>s starting at level 0 */
        list-style-type: none; 
        padding: 0;            
        margin: 0;         
        display: flex;
        flex-direction: row;
        background-color: $ulBackground;

        /* Applies to all <li>s starting at level 0 */
        > li {
            position: relative;
            
            /* Applies to all links starting at level 0 */
            a {
                display: block;
                color: $navLink;
                padding: $linkPadding;
                text-decoration: none;
            }

            /* Applies to <ul>s at level 1 and deeper */
            > ul {
                display: none;
                flex-direction: column;
                position: absolute;
                left: 0%;
                top: 100%;
                min-width: 180px;
                z-index: 1;
                background-color: $subUlBackground;
                box-shadow: $subUlBoxShadow;

                /* Applies to <li>s at level 1 and deeper */
                > li {

                    /* Applies to links at level 1 and deeper */
                    > a {
                        text-align: left;
                    }

                    /* Applies to <ul>s at level 2 and deeper */
                    > ul {
                        left: 100%;
                        top: 0%;
                    }
                }
            }

            .expandingLink {
                background-image: url('/public/assets/nav/expandingItem.png'); 
                background-repeat: no-repeat; 
                background-position: center right;
                background-size: 10px;
            }
        }

        /* Show the dropdown when hovering over the parent list item, all levels */
        > li:hover > ul {
            display: flex;
        }
    }
}


